.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/projects/bayesian-superiority-rcbd/noupload
/projects/bayesian-superiority-rcbd/R
/projects/drafts
/projects/iccs-imputation/R_noupload
/projects/iccs-imputation/model_noupload
.RDataTmp
.RDataTmp1
_freeze/
_site/
